<a href="https://colab.research.google.com/github/ranamaddy/pythonBasic2023/blob/main/Chapter_7_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings are sequences of characters represented in quotation marks. Python has a variety of built-in methods and formatting options for working with string data.

**7.1 String Methods**
Python strings have many useful methods that allow you to manipulate and modify the string contents. Some common methods are:

**len() - Returns length of string**

In [1]:
name = "John"
print(len(name)) # 4

4

**upper() - Converts string to upper case**

In [2]:
name = "john"
print(name.upper()) # JOHN

JOHN

**lower() - Converts string to lower case**

In [3]:
name = "JOHN"
print(name.lower()) # john

john

**title() - Converts string to title case**

In [4]:
name = "john smith"
print(name.title()) # John Smith

John Smith

**split() - Splits string into list by space**

In [5]:
name = "John Smith"
print(name.split()) # ['John', 'Smith']

['John', 'Smith']

**find() - Finds index of substring if exists**

In [6]:
name = "John Smith"
print(name.find("Smith")) # 5

5

**replace() - Replaces substring in string**

In [7]:
text = "Hello World"
print(text.replace("World", "Universe")) # Hello Universe

Hello Universe

**7.2 String Formatting**

Python allows formatting strings using %-formatting and str.format():

**%-formatting**

In [8]:
name = "John"
print("Hello %s" % name) # Hello John

Hello John

**str.format()**

In [9]:
name = "John"
print("Hello {0}".format(name)) # Hello John

Hello John

Useful for interpolating variables and values into strings.

We can also format numbers and decimals:

In [10]:
pi = 3.14159
print("Pi is %.2f" % pi) # Pi is 3.14

Pi is 3.14

**7.3 Working with String Input**
We can take string input from the user using the input() function:

In [11]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: usman
Hello usman

We can also assign input to multiple variables:

In [12]:
fname, lname = input("Enter your first and last name: ").split()

Enter your first and last name: rana mudassar

**startswith() and endswith()**

These methods check if a string starts or ends with the given substring.

In [13]:
name = "John"

print(name.startswith("J")) # True
print(name.endswith("n")) # True

True
True

**isdigit(), isalpha(), isalnum()**

These check if string contains only digits, alphabets or alphanumeric characters respectively.

In [14]:
s1 = "123"
s2 = "abc"
s3 = "123abc"

print(s1.isdigit()) # True
print(s2.isalpha()) # True
print(s3.isalnum()) # True

True
True
True

**join()**

Joins a list of strings with another string as separator.

In [15]:
names = ["John", "Bob", "Sarah"]
print(", ".join(names)) # John, Bob, Sarah

John, Bob, Sarah

**strip(), rstrip(), lstrip()**

Strips whitespace characters from left, right or both ends.

In [16]:
s = "   Hello World   "
print(s.strip()) # Hello World

Hello World

**replace()**

Replaces matching substring with another string.

In [17]:
text = "Hello World"
print(text.replace("World", "Universe")) # Hello Universe

Hello Universe

**split()**

Splits string into list on specified separator.

In [18]:
s = "John,Bob,Sarah"
print(s.split(",")) # ['John', 'Bob', 'Sarah']

['John', 'Bob', 'Sarah']

- Write a program to take the user's first and last name as input and print the full name in title case.
- Write a program to input a string and print it in upper case.
- Take two strings as input and print the concatenated string.
- Take the user's name as input and print "Hello [name]!"
- Take a multiline string input from user and print each line separately.
- Take string input from user and print only the uppercase characters.
- Write a program to take an email address as input and print the username and domain name separately.
- Write a program to take filename as input and print the extension of the filename.
- Take two integers as input and print a string formatting them using % operator.
- Take string input from user and print only the consonants using string methods.
- Write a program to print mirrored right triangle star pattern using *.
- Take date as input in DD/MM/YY format and convert it to YY/MM/DD format using string methods.
- Take an integer as input and print "Prime" if it is prime else print "Not Prime".
- Take two version numbers as input and compare them using string comparison. Print newer version.
- Take an email address as input and print validity based on presence of @ and . in string.