<a href="https://colab.research.google.com/github/ranamaddy/pythonBasic2023/blob/main/Chapter_4_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional statements allow us to execute code only when certain conditions are met.

The main conditional statements in Python are:

- if
- elif
- else

**4.1 if Statements**

The **if** statement is used to check a condition and execute code if the condition is True.

**Basic Syntax**

In [ ]:
if condition:
   # code to execute if condition is True

**For example:**

In [2]:
age = 18

if age >= 18:
   print("You are eligible to vote")

You are eligible to vote

Here we check **if** **age** is greater than or equal to 18. If so, we print a message.

The condition after **if** must evaluate to either True or False.

We can use comparison, logical and other operators to construct conditional expressions.

**Example 1**

In [3]:
num = 15
if num > 10:
    print(num, "is greater than 10")

15 is greater than 10

**Example 2**

In [4]:
name = "John"
if name == "John":
    print("Name is John")

Name is John

**4.2 else Statements**

The else statement is executed if the if condition evaluates to False.

**Syntax**

In [ ]:
if condition:
  # code to execute if condition is True
else:
  # code to execute if condition is False

**For example:**

In [5]:
num = 7
if num % 2 == 0:
   print(num, "is even")
else:
   print(num, "is odd")

7 is odd

Here **num % 2 == 0** evaluates to **False**, so the else block is executed and "**7 is odd**" is printed.

**Example 1**

In [6]:
age = 17
if age >= 18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Not eligible to vote

**Example 2**

In [7]:
num = 15
if num % 2 == 0:
  print(num, "is even")
else:
  print(num, "is odd")

15 is odd

**4.3 elif Statements**

The elif statement allows for multiple conditions to be checked in sequence. It stands for "else if".

In [ ]:
if condition1:
  # code
elif condition2:
  # code
else:
  # code

**For example:**

In [8]:
num = 7

if num == 1:
   print("One")
elif num == 2:
   print("Two")
else:
   print("Other")

Other

Here **num** is checked against multiple conditions and the first **True** condition has its block executed.

We can have multiple **elif** blocks to check for different values.

**Example 1**

In [9]:
grade = 'B'

if grade == 'A':
  print("Excellent")
elif grade == 'B':
  print("Good")
elif grade == 'C':
  print("Fair")
else:
  print("Poor")

Good

**Example 2**

In [10]:
num = 4

if num == 1:
  print("One")
elif num == 2:
  print("Two")
elif num == 3:
  print("Three")
else:
  print("Other")

Other

**4.4 Nested if statements**

We can have **if** statements inside **if** statements, known as **nested** **if** statements.

**Syntax**

In [ ]:
if condition1:
  # Code
  if condition2:
    # Codex

**For example:**

In [11]:
num = 7

if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Positive number

Here we nested an if-else inside the outer if block.

**Example 1**

In [12]:
num = 15

if num >= 0:
  if num % 2 == 0:
    print(num, "is a positive even number")
  else:
    print(num, "is a positive odd number")
else:
  print(num, "is negative")

15 is a positive odd number

**4.5 Ternary Operator**
Python provides a ternary operator for compact conditional expressions.

**Syntax**

In [ ]:
value_if_true if condition else value_if_false

**For example:**

In [13]:
age = 18
can_vote = "yes" if age >= 18 else "no"

This assigns "**yes**" to can_vote if age is **18** or more, **else** it assigns "**no**".

**Example 1**

In [14]:
num = 15
is_even = "yes" if num % 2 == 0 else "no"
print(is_even)

no

**Example 2**

In [15]:
name = "John"
access = "Allowed" if name in ["John", "Mary"] else "Denied"
print(access)

Allowed

**Questions**

- Write an if statement that prints "Hello World" if x is equal to 10.
- Write an if-else statement that prints "x is positive" if x is greater than 0 and "x is negative" otherwise.
- Write code that prints "Even Number" if the number stored in num is even, and "Odd Number" otherwise.
- Write an if statement to check if age is greater than or equal to 18. If so, print "Eligible to Vote".
- What keywords are used for the main conditional statements in Python?
- How do you write a conditional statement in Python to check if a variable x is equal to 10?
- What syntax is used for an else statement?
- How do you check for multiple conditions using elif?
- What is the syntax for nesting if statements?
- What is the syntax for a ternary operator that assigns "Passed" to status if grade is greater than 70, else assigns "Failed"?

- Take two integer inputs from user and print the larger number.
- Take a number as input and check if the number is positive, negative or zero. Print the result.
- Take the age as input and check if age is greater than 18 and less than 60. Print the result.
- Write a program to take the length of sides of a triangle as input and check if the triangle is equilateral, isosceles or scalene. Print the result.
- Take a number as input and check if the number is even or odd using a ternary operator. Print the result.
- Take the age as input and check if the person is eligible to vote. Print "Eligible" if age >= 18 else "Not Eligible".
- Write a program to take cost price and selling price as input and determine profit or loss.
- Take a number as input and print the multiplication table for that number.
- Take the marks of three subjects as input and check if the total percentage is greater than or equal to 40. If so, print "Pass". If not, print "Fail".
- Write a program to take a number as input and print the corresponding month name.
- Write a program to check if a given number is Armstrong number or not.
- Write a program to check if a given number is Prime number or not.
- Write a program to take marks as input and print the corresponding grade according to the marks.
- Write a program to take the basic salary as input and calculate gross salary after adding HRA, TA and DA. Print the gross salary.
- Take two numbers and an operator as input and perform the operation on the two numbers based on the operator entered. Print the result.

- Write a program to take a number as input and print the corresponding month name. Handle invalid numbers gracefully without raising an error.
- Write a program to take the marks of three subjects as input. Calculate the total percentage and division (First/Second/Third). Handle all edge cases like invalid marks or totals > 100.
- Write a program to take the basic salary and calculate gross salary. The HRA is 12% of basic, DA is 15% and TA is 8%. Calculate gross salary and print. Handle invalid inputs.
- Take length and breadth input from user and check if the dimensions are valid. Calculate area and perimeter if valid. Print error messages for invalid dimensions.
- Write a program to take cost price and selling price as input. Calculate profit or loss percentage. Print proper messages for all cases.
- Take 3 angles of a triangle as input. Check if the angles make a valid triangle. If valid, check if the triangle is right angled, acute or obtuse. Print appropriate messages.
- Take a number as input. If the number is prime, print its factors. If not, print proper error messages.
- Take a string as input and check if it is a valid email address. Print appropriate messages.
- Take 3 sides a, b, c of a triangle. Check if the sides form a valid triangle. If valid, check if it is equilateral, isosceles or scalene. Print appropriate result.
- Take age, income and marital status as input. If age < 25 and income > 50000, print "Target Customer". Handle all invalid cases and print proper messages.

# Rana Mudassar Rasool