<a href="https://colab.research.google.com/github/ranamaddy/pythonBasic2023/blob/main/Chapter_5_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops allow us to execute code repeatedly based on a condition. They are useful for automating repetitive tasks and iterating over sequences.

The main loops in Python are for loop and while loop.

**5.1 for Loop**
The for loop executes a block of code for each item in a sequence like list, string, tuple etc.

**Syntax:**

In [ ]:
for item in sequence:
  # code to execute

**For example:**

In [1]:
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
  print(fruit)

apple
banana
mango

This loops over the fruits list and prints each element.

# Examples:

1. Loop over a list of numbers

In [2]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
  print(num)

1
2
3
4
5

2. Loop over a string

In [3]:
for char in "Hello":
  print(char)

H
e
l
l
o

3. Loop over a tuple

In [4]:
colors = ("red", "blue", "green")

for color in colors:
  print(color)

red
blue
green

4. Loop over a dictionary

In [5]:
person = {"name": "John", "age": 25, "job": "Developer"}

for key in person:
  print(key, ":", person[key])

name : John
age : 25
job : Developer

5. Loop with range()

In [6]:
for i in range(5):
  print(i)

0
1
2
3
4

6. Loop over a list with index

In [7]:
languages = ["Python", "Java", "C++"]

for i in range(len(languages)):
  print(i, languages[i])

0 Python
1 Java
2 C++

7. Loop backwards over a list

In [8]:
for i in range(len(languages)-1, -1, -1):
  print(languages[i])

C++
Java
Python

8. Loop over list and modify elements

In [9]:
nums = [1, 2, 3, 4, 5]

for i in range(len(nums)):
  nums[i] = nums[i] * 2

print(nums)

[2, 4, 6, 8, 10]

9. Loop with else block

In [10]:
for i in range(5):
  print(i)
else:
  print("Done")

0
1
2
3
4
Done

10. Nested for loops

In [11]:
for i in range(2):
  for j in range(3):
    print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

# 5.2 while Loop
The while loop runs as long as a condition is true.

**Syntax:**

In [ ]:
while condition:
  # code to execute

For example:

In [12]:
count = 0
while count < 5:
  print(count)
  count = count + 1

0
1
2
3
4

# Examples:

1. Simple while loop

In [13]:
num = 0
while num < 10:
  print(num)
  num += 1

0
1
2
3
4
5
6
7
8
9

2. while loop with else

In [14]:
num = 1
while num <= 5:
  print(num)
  num += 1
else:
  print("Loop completed")

1
2
3
4
5
Loop completed

3. Break out of while loop

In [15]:
i = 1
while True:
  print(i)
  i += 1
  if i > 5:
    break

1
2
3
4
5

4. Continue in while loop

In [16]:
i = 0
while i < 10:
  i += 1
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

5. while and input

In [17]:
name = ""
while name != "exit":
  name = input("Enter name: ")
  print("Hello", name)

Enter name: 1
Hello 1
Enter name: 2
Hello 2
Enter name: 3
Hello 3
Enter name: exit
Hello exit

6. Find factorial with while loop

In [18]:
num = 5
factorial = 1
while num > 1:
  factorial = factorial * num
  num -= 1
print(factorial)

120

7. Guess number game with while loop

In [19]:
secret_num = 7
guess = 0
while guess != secret_num:
  guess = int(input("Guess the number: "))
print("You guessed the number!")

Guess the number: 12
Guess the number: 12
Guess the number: 7
You guessed the number!

8. Print a pattern using while loop

In [20]:
i = 1
while i <= 5:
  print("*" * i)
  i += 1

*
**
***
****
*****

9. Reverse a string using while loop

In [21]:
string = "Python"
reverse = ""
index = len(string) - 1

while index >= 0:
  reverse += string[index]
  index -= 1

print(reverse)

nohtyP

10. Calculate sum of n numbers

In [22]:
n = 10
sum = 0
num = 1
while num <= n:
  sum += num
  num += 1

print(sum)

55

# Questions

- Write a for loop that prints all elements in a list.
- Print the table of a given number using for loop.
- Find the sum of all numbers from 1 to a given number using a for loop.
- Print the first 10 even natural numbers using for loop.
- Print the multiplication table of a given number using for loop.
- Count the total number of digits in a given number using loop.
- Print all armstrong numbers in a given range using for loop.
- Check if a given number is prime or not using loops.
- Print all prime numbers between 1 to 100 using for loop.
- Take integers as input from user to form a list. Print the list using for loop.
- Accept a string from user. Print all the characters in the string using loop.
- Count and print the number of vowels in a given string using loop.
- Print the following pattern using loop: 1 2 3 4 5 6 7 8 9 10
- Reverse a given string using loop.
- Calculate the factorial of a given number using loop.
- Print the Fibonacci sequence up to a given number using loop.
- Check if a given number is Armstrong number using loop.
- Find the sum of digits of a given number using loop.
- Print all the letters from 'a' to 'z' using loop.
- Write a loop to find the largest number from a list of numbers.
- Take integers as input and find the smallest number using loop.
- Write a loop to find the factorial of all numbers from 1 to 10.
- Write a loop to display powers of 2 from 1 to 10.
- Use loop to print all even numbers from 100 to 200.
- Use loop to print all odd numbers from 10 to 20.
- Use while loop to print squares of numbers from 1 to 10.
- Write a loop to find the summation of all even numbers till n. Take n as input.
- Take number of rows as input and print pascal triangle pattern.
- Take number of rows as input and print Floyd's triangle.

# Rana Mudassar Rasool