<a href="https://colab.research.google.com/github/ranamaddy/pythonBasic2023/blob/main/Chapter_2_Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2 - Variables and Data Types

Variables are used to store data in a Python program. They work as containers for values used in a program.

Python is a dynamically typed language, meaning variables do not need to be declared with a specific type and can be assigned values of any type.

Let's explore variables and data types in Python in detail:

**2.1 Variables**

A variable simply refers to a name that is used to reference a value. For example:

In [2]:
# Assign a value to a variable
name = "Rana Mudassar rasool"

print(name)

Rana Mudassar rasool

Here we created a variable called name and assigned it a string **"Rana Mudassar Rasool"**.

To assign a value to a variable, use a single = sign. No need to declare the type.

**Some key points on variables:**

- Assignment uses a single = sign
- Can assign different data types to same variable
- Variables hold a reference to the object (memory location)
- Variables must be assigned before use
- Variable names should be descriptive (lowercase_with_underscores)

We can reassign variables with a different values later in code:

In [3]:
name = "John"
print(name)

name = "Sarah"
print(name)

John
Sarah

Here we reassign name to a new value.

**2.2 Data Types**
Every value in Python has a data type. The common data types include:

- Integers: Whole numbers like 10. Used for numeric operations.
- Floats: Decimal numbers like 5.67. Used for precise values.
- Strings: Text values like "Hello". Used for storing text.
- Booleans: Logical values True or False. Used for logical operations.
- Lists: Ordered collection of objects in **[square brackets]**. Used to store related items.
- Tuples: Immutable ordered collection of objects in (parentheses). Used for read-only collections.
- Dictionaries: Unordered key-value pairs in **{curly braces}**. Used to map two related values.

Let's look at some examples of different data types:

In [4]:
# Integer
num = 10

# Float
price = 9.99

# String
name = "John"

# Boolean
is_published = False

# List
nums = [1, 2, 3]

# Tuple
address = ("123 Main St", "Boston", "MA")

# Dictionary
person = {"name":"John", "age":25}

**We can use the type() function to check the data type of a value:**

In [5]:
num = 10
print(type(num)) # <class 'int'>

name = "John"
print(type(name)) # <class 'str'>

<class 'int'>
<class 'str'>

Python is a dynamically typed language so we do not need to explicitly declare variables before use. The data type is set automatically when a value is assigned.

**2.3 Type Conversion**

We can convert between different data types by using type conversion functions:

In [6]:
num = 10    # Integer

float_num = float(num) # Convert to float

print(float_num)
print(type(float_num)) # <class 'float'>

10.0
<class 'float'>

**Some common type conversions**:

- int(): Convert to integer type
- float(): Convert to float type
- str(): Convert to string type
- list(): Convert to list type
- tuple(): Convert to tuple type
- dict(): Convert to dictionary

**We can also convert data types to other types:**

In [7]:
price = 9.99

int_price = int(price) # Truncate decimal

print(int_price) # 9

9

**Converting numeric types to strings:**

In [8]:
num = 10
str_num = str(num)

print(str_num) # "10"

10

Type conversion is useful when we need to treat data as a different type such as converting a string to a number for math operations.